<style>
    body {
        font-family: Helvetica Neue, Helvetica, Arial;
    }
</style>
<b>Hello,</b>
<p>
<%= username %> has invited you to join the Shelloid Virtual Private Transport (VPT) platform. <br />
    Use Shelloid VPT cloud platform to easily share your computing resources and services selectively with team members on a need basis securely across the Internet.
    <br/><a href="http://shelloid.com">You can register now by click here.</a>
</p>
Have a great day!<br /><br/>
Thank you,<br/>
The Shelloid Team.
