<style>
    body {
        font-family: Helvetica Neue, Helvetica, Arial;
    }
</style>
<h1>Welcome to Shelloid VPT.</h1>
<h3>Hello <%= name %>,</h3>
<p>Please click the following link for finishing the Shelloid Registration.</p>
<a href="<%= url %>"><h3>Complete Registration</h3></a>
If the above link is not working, please visit the following URL.<br/>
<%= url %><br/><br/>
Thank you,<br/>
The Shelloid Team.