<h4>MYSQL Settings</h4><hr/>
<div class='form-group'>
    <label>Enter Object Name</label>
    <input type="text" id="accessPolicyMysqlDbName" class="form-control" placeholder="Object Name (use comma to separate object names)" required/>
</div>
<div class="control-group">
    <label>Database Permissions</label>
    <div class="controls span2">
            <button id="mysqlPolicyAppAllPriv">ALL PRIVILEGES</button>
        <label class="checkbox">
            <input type="checkbox" value="CREATE" id="mysqlPolicyAppCreate" class="privilegeOption">CREATE
        </label>
        <label class="checkbox">
            <input type="checkbox" value="DROP" id="mysqlPolicyAppDrop" class="privilegeOption">DROP
        </label>
        <label class="checkbox">
            <input type="checkbox" value="DELETE" id="mysqlPolicyAppDelete" class="privilegeOption">DELETE
        </label>
        <label class="checkbox">
            <input type="checkbox" value="INSERT" id="mysqlPolicyAppInsert" class="privilegeOption">INSERT
        </label>
        <label class="checkbox">
            <input type="checkbox" value="SELECT" id="mysqlPolicyAppSelect" class="privilegeOption">SELECT
        </label>
        <label class="checkbox">
            <input type="checkbox" value="UPDATE" id="mysqlPolicyAppUpdate" class="privilegeOption">UPDATE
        </label>
        <label class="checkbox">
            <input type="checkbox" value="GRANT OPTION" id="mysqlPolicyAppGrantOption" class="privilegeOption">GRANT OPTION
        </label>
    </div>
</div>
<script>
    var mysqlPolicyAppSelectedPriv = [];
    $(function (){
        $("#mysqlPolicyAppAllPriv").on("click", function (e){
            e.preventDefault();
            $(".privilegeOption").prop("checked", true);
            $(".privilegeOption").trigger("change");
        });
        $(".privilegeOption").on("change", function (){
            if ($(this).is(":checked")){
                mysqlPolicyAppSelectedPriv.push($(this).val());
            } else {
                var index = mysqlPolicyAppSelectedPriv.indexOf($(this).val());
                if (index > -1) {
                    mysqlPolicyAppSelectedPriv.splice(index, 1);
                }
            }
        });
    });

    function getPolicyBuilderJson(){
        return {objects: $("#accessPolicyMysqlDbName").val(), privileges: mysqlPolicyAppSelectedPriv};
    }

    function validatePolicyAppEntry(){
        if (!isEmptyString($("#accessPolicyMysqlDbName").val()) && mysqlPolicyAppSelectedPriv.length > 0){
            return {success: true};
        } else {
            return {success: false, msg: "Database object name(s) and at least a permission is required."};
        }
    }

    function fillControls(jsonObj){
        $("#accessPolicyMysqlDbName").val(jsonObj.objects);
        mysqlPolicyAppSelectedPriv = jsonObj.privileges;
        if (mysqlPolicyAppSelectedPriv == undefined){
            mysqlPolicyAppSelectedPriv = [];
        }
        var objs = $(".privilegeOption");
        for (var i = 0; i < objs.length; i++) {
            if (mysqlPolicyAppSelectedPriv.indexOf($(objs[i]).val()) > -1){
                $(objs[i]).prop("checked", true);
            } else {
                $(objs[i]).prop("checked", false);
            }
        }
    }
</script>