<div>
    <h1>Hello Sugar CRM</h1>
</div>
<script>
    function getPolicyBuilderJson(){
        return {type: "sugarcrm"};
    }

    function validatePolicyAppEntry(){
        return {success: true};
    }

    function fillControls(jsonString){

    }
</script>