<div>
    <h1>Hello Sugar CRM</h1>
</div>
<script>
    function getPolcyAppJson(){
        return {type: "sugarcrm"};
    }

    function validatePolicyAppEntry(){
        return true;
    }

    function fillControls(jsonString){

    }
</script>