<%- include header.ejs %>
<script>
    support_init((getUser() != undefined ? getUser().email : ""));
</script>
<div class="container">
    <br/>
    <br/>
    <h1>Shelloid Terms of Service</h1>
    <p>Last Updated on July 4, 2014</p>
    <p>By using the shelloid.com web site ("Service"), or any related services of
        Shelloid Systems, LLP., you are agreeing to be bound by the following terms and
        conditions ("Terms of Service").</p>

    <p>Shelloid Systems, LLP. reserves the right to update and change the Terms of Service
        from time to time without notice. Any new features that augment or enhance the
        current Service, including the release of new tools and resources, shall be subject
        to the Terms of Service. Continued use of the Service after any such changes shall
        constitute your consent to such changes. You can review the most current version
        of the Terms of Service at any time at:
        <a href="http://shelloid.com/terms">Terms of Service</a></p>

    <p>Violation of any of the terms below will result in the termination of your Account.
        While Shelloid Systems, LLP. prohibits such conduct and Content on the Service,
        you understand and agree that Shelloid Systems, LLP. cannot be responsible for
        the Content posted on the Service and you nonetheless may be exposed to such materials.
        You agree to use the Service at your own risk.</p>

    <h2>Account Terms</h2>

    <ol>
        <!--<li><p>You must be 18 years or older to use this Service.</p></li>-->
        <li><p>You must provide your legal full name, a valid email address, and any other
                information requested in order to complete the signup process.</p></li>
        <li><p>Your login may only be used by one person - a single login shared by
                multiple people is not permitted. You may create separate logins for as many
                people as your plan allows.</p></li>
        <li><p>You are responsible for maintaining the security of your account and password.
                Shelloid Systems, LLP. cannot and will not be liable for any loss or damage
                from your failure to comply with this security obligation.</p></li>
        <li><p>You are responsible for all Content posted and activity that occurs under
                your account (even when Content is posted by others who have accounts under
                your account).</p></li>
        <li><p>You may not use the Service for any illegal or unauthorized purpose. You must
                not, in the use of the Service, violate any laws in your jurisdiction (including
                but not limited to copyright laws).</p></li>
    </ol>

<!--
    <h2>Billing Terms</h2>

    <ol>
        <li><p>A valid credit card or valid access to online banking services such as netbanking is required for purchasing credits or making payments.</p></li>
        <li><p><strong>
                    Purchased credits are non-refundable.
                    There will be no refunds or credits for partial utilization or partial execution of training sessions or upgrade/downgrade
                    refunds. In order to treat everyone equally, no exceptions will be made.
                </strong></p></li>
        <li><p>All fees are exclusive of all taxes, levies, or duties imposed by taxing authorities,
                and you shall be responsible for payment of all such taxes, levies, or duties,
                excluding only United States (federal or state) taxes.</p></li>
    </ol>

-->
    <h2>Cancellation and Termination</h2>

    <ol>
        <li><p><strong>
                    You are solely responsible for properly cancelling your account. An email
                    or phone request to cancel your account is not considered cancellation.
                    You can cancel your account at any time by using the account cancel option available after logging in.
                </strong></p></li>
        <li><p>All of your Content, data, and history will be immediately deleted from the Service upon cancellation.
                This information can not be recovered once your account is cancelled.</p></li>
        <li><p>No refunds will be provided upon cancellation, even if there are available session credits.</p></li>
        <li><p>Shelloid Systems, LLP., in its sole discretion, has the right to suspend or
                terminate your account and refuse any and all current or future use of the
                Service, or any other Shelloid Systems, LLP. service, for any reason at any time.
                Such termination of the Service will result in the deactivation or deletion
                of your Account or your access to your Account, and the forfeiture and relinquishment
                of all Content in your Account. Shelloid Systems, LLP. reserves the right to
                refuse service to anyone for any reason at any time.</p></li>
    </ol>


    <h2>Modifications to the Service and Prices</h2>

    <ol>
        <li><p>Shelloid Systems, LLP. reserves the right at any time and from time to time
                to modify or discontinue, temporarily or permanently, the Service (or any
                part thereof) with or without notice.</p></li>
        <li><p>Prices of all Services, including but not limited to credit pricing, credits per session, or any other subscription-related pricing, are subject to change upon 30 days notice from us.
                Such notice may be provided at any time by posting the changes to the Shelloid Site (<a href="http://shelloid.com/">http://shelloid.com/</a>), or the Service itself.</p></li>
        <li><p>Shelloid Systems, LLP. shall not be liable to you or to any third party for
                any modification, price change, suspension or discontinuance of the Service.</p></li>
    </ol>


    <h2>Copyright and Content Ownership</h2>

    <ol>
        <li><p>All content posted on the Service must comply with Indian copyright law.</p></li>
        <li><p>We claim no intellectual property rights over the material you may provide to
                the Service. Your profile and materials uploaded remain yours. However, by
                setting your pages to be shared publicly, you agree to allow others to view
                and share your Content.</p></li>
        <li><p>Shelloid Systems, LLP. does not pre-screen Content, but Shelloid Systems, LLP.
                and its designee have the right (but not the obligation) in their sole discretion
                to refuse or remove any Content that is available via the Service.</p></li>
        <li><p>The look and feel of the Service is copyright ©2014-2016 Shelloid Systems, LLP.
                All rights reserved. You may not duplicate, copy, or reuse any portion of the
                HTML/CSS, Javascript, or visual design elements or concepts without express
                written permission from Shelloid Systems LLP.</p></li>
    </ol>


    <h2>General Conditions</h2>

    <ol>
        <li><p>Your use of the Service is at your sole risk. The service is provided on an
                "as is" and "as available" basis.</p></li>
        <li><p>Technical support is only provided to paying account holders and is only available
                via email.</p></li>
        <li><p>You understand that Shelloid Systems, LLP. uses third party vendors and hosting
                partners to provide the necessary hardware, software, networking, storage,
                and related technology required to run the Service.</p></li>
        <li><p>You must not modify, adapt or hack the Service or modify another website so
                as to falsely imply that it is associated with the Service, Shelloid Systems, LLP.,
                or any other Shelloid Systems, LLP. service.</p></li>
        <li><p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion
                of the Service, use of the Service, access to the Service, or any of the content created by Shelloid Systems LLP. without the express
                written permission by Shelloid Systems, LLP.</p></li>
        <li><p>We may, but have no obligation to, remove Content and Accounts containing
                Content that we determine in our sole discretion are unlawful, offensive,
                threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable
                or violates any party's intellectual property or these Terms of Service.</p></li>
        <li><p>Verbal, physical, written or other abuse (including threats of abuse or retribution)
                of any Shelloid Systems, LLP customer, employee, member, or officer will result
                in immediate account termination.</p></li>
        <li><p>You understand that the technical processing and transmission of the Service,
                including your Content, may be transferred unencrypted and involve (a) transmissions
                over various networks; and (b) changes to conform and adapt to technical requirements
                of connecting networks or devices.</p></li>
        <li><p>You must not upload, post, host, or transmit unsolicited email, SMSs, or
                “spam” messages.</p></li>
        <li><p>You must not transmit any worms or viruses or any code of a destructive nature.</p></li>
        <!--<li><p>If your bandwidth usage exceeds 500 MB/month, or significantly exceeds the
        average bandwidth usage (as determined solely by Shelloid Systems, LLP.) of
        other Shelloid customers, we reserve the right to immediately disable your
        account or throttle your file hosting until you can reduce your bandwidth
        consumption.</p></li>-->
        <li><p>Shelloid Systems, LLP. does not warrant that (i) the service will meet your
                specific requirements, (ii) the service will be uninterrupted, timely, secure,
                or error-free, (iii) the results that may be obtained from the use of the
                service will be accurate or reliable, (iv) the quality of any products, services,
                information, or other material purchased or obtained by you through the service
                will meet your expectations, and (v) any errors in the Service will be corrected.</p></li>
        <li><p>You expressly understand and agree that Shelloid Systems, LLP. shall not be
                liable for any direct, indirect, incidental, special, consequential or exemplary
                damages, including but not limited to, damages for loss of profits, goodwill,
                use, data or other intangible losses (even if Shelloid Systems, LLP has been
                advised of the possibility of such damages), resulting from: (i) the use or
                the inability to use the service; (ii) the cost of procurement of substitute
                goods and services resulting from any goods, data, information or services
                purchased or obtained or messages received or transactions entered into through
                or from the service; (iii) unauthorized access to or alteration of your transmissions
                or data; (iv) statements or conduct of any third party on the service; (v)
                or any other matter relating to the service.</p></li>
        <li><p>The failure of Shelloid Systems, LLP to exercise or enforce any right or provision
                of the Terms of Service shall not constitute a waiver of such right or provision.
                The Terms of Service constitutes the entire agreement between you and Shelloid Systems, LLP
                and govern your use of the Service, superseding any prior agreements between
                you and Shelloid Systems, LLP (including, but not limited to, any prior versions
                of the Terms of Service).</p></li>
        <li><p>Questions about the Terms of Service should be sent to <img src="images/contact.png" valign="bottom"/>.</p></li>
    </ol>

</div>
<br/>
<br/>
<%- include footer.ejs %>