<%- include header.ejs %>
<script src="js/shelloid/controllers/users.js"></script>
<script src="js/shelloid/views.js"></script>
<script>
    var adminSalt
    $(function (){
        initView();
    })
</script>
<div id="content"></div>
<%- include footer.ejs %>