<footer id="footer">
    <div class="container text-center">
        &copy; 2014 <a target="_blank" href="http://shelloid.com/" title="Easily and securely share your computing resources and services across the Internet.">shelloid.com</a>.
        All Rights Reserved.
    </div>
</footer>
</body>
</html>