
<style>
    .addDevBtn a {color: blue; text-decoration: underline;}
    .addDevBtn .tooltip  {background-color:lightgray; color:black;text-align:left; font-weight:bold}
    .addDevBtn .tooltip-inner {background-color:lightgray; color:black;text-align:left; font-weight:bold}
    .addDevBtn .tooltip-arrow {border-top-color: white;}
</style>
<div class="col-md-12">
    <h3 class="addDevBtn">Devices
        <button class="pull-right btn btn-primary" id="addNodePanelBtn" data-toggle="tooltip" data-placement="top" data-html="true"
                title="You must <a target='_blank' href='https://shelloid.com/download'>download</a>, <a target='_blank' href='http://doc.shelloid.com/doku.php?id=agent_installation'>install and configure</a> our agent software in the device.">
            <span class=" glyphicon glyphicon-phone"></span> Add new Device
        </button>
    </h3>

    <div class="panel panel-default" id="addNodePanel" style="position: relative; z-index: 1">
        <div class="panel-heading">
            <h3 class="panel-title">Devices</h3>
        </div>
        <div class="panel-body">
            <form id="frmNode">
                <input type="hidden" id="addingNewNode" value="true"/>
                <input type="hidden" id="editingNodeId" value="-1"/>
                <div class="form-group">
                    <label>Enter Device Name</label>
                    <input type="text" id="sNodeName" class="form-control" placeholder="Device Name, e.g., dev-laptop" required/>
                </div>
                <div class='form-group'>
                    <label>Device Key</label>
                    <input type="text" id="sNodeKey" class="form-control disabled" placeholder="Device Key" required disabled/>
                </div>
                <div class='form-group'>
                    <label>Device Secret <a class="glyphicon glyphicon-refresh link" id="refreshDeviceSecretBtn" data-toggle="tooltip" data-placement="top" title="Refresh this device secret"></a></label>
                    <input type="text" id="sNodeSecret" class="form-control disabled" placeholder="Device Secret" required disabled/>
                </div>
                <div class='form-group'>
                    <label>Select Device Type</label>
                    <select id="sNodeType" class="form-control" required>
                        <option value="L">Laptop</option>
                        <option value="S">Server</option>
                        <option value="E">Embedded</option>
                        <option value="W">Workstation</option>
                    </select>
                </div>
                <input type="button" class="btn btn-danger" id="addNodeCancelBtn" value="Cancel"/>
                <input type="button" class="btn btn-primary pull-right" id="addNodeBtn" value="Save"/>
            </form>
        </div>
    </div>

    <div class="table-responsive nodesListTbl">
        <table class="table table-striped table-hover table-condensed table-responsive" id="nodesListTbl" style="width: 100%">
            <thead>
            <th class="col-sm-3">Name</th>
            <th class="col-sm-2">Key</th>
            <th class="col-sm-2">Secret</th>
            <th class="col-sm-2">Owner</th>
            <th class="col-sm-1">Type</th>
            <th class="col-sm-1">Status</th>
            <th class="col-sm-1">Actions</th>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>