<div class="col-md-12">
    <h3>Invite friends
    </h3>
    <h5>Share Shelloid VPT with your friends and colleagues. If they end up being premium members you will earn credits.
    </h5>

    <form class="form-inline">
        <div class="form-group">
            <input type="text" id="inviteEmail" class="form-control" placeholder="Enter Email ID here." required/>
        </div>
        <input type="button" id="inviteSubmit" class="btn btn-primary" value="Send Invite">
         <!--[Invitations with credits will be enabled after the Beta phase]-->
    </form>
    <div id="inviteNotification"></div>
</div>