<div class="col-md-12">

    <h3>Service Sharing
        <button class="pull-right btn btn-primary" id="addPortMappingPanelBtn" data-toggle="tooltip" data-placement="top" data-html="true" title="You may open ports to devices shared with you.">
            <span class=" glyphicon glyphicon-share"></span> Share Services
        </button>
    </h3>

    <div class="panel panel-default" id="addPortMappingPanel" style="position: relative; z-index: 1">
        <div class="panel-heading">
            <h3 class="panel-title">Open your device's services to other devices</h3>
        </div>
        <div class="panel-body">
            <form id="frmAddPortMap">
                <input type="hidden" id="addingNewPortMapping" value="true"/>
                <input type="hidden" id="editingPortMappingId" value="-1"/>
                <div class='form-group'>
                    <label>Host Device</label>
                    <select id="portMappingNodesFrom" class="form-control portMappingNodes" required>
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Service Host</label>
                            <input type="text" id="portMappingHostName" class="form-control" placeholder="The device in which the service is running" required value="localhost"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Service Name/Port</label>
                            <input type="text" id="portMappingNumber" class="form-control" placeholder="Port Number/Service Name" required/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Protocol</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="optionsRadios" id="portMappingProtocolTcp" checked>
                                    TCP
                                </label>
                            </div>
                            <div class="radio" style="display: none">
                                <label>
                                    <input type="radio" name="optionsRadios" id="portMappingProtocolUDP">
                                    UDP
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <input type="checkbox" id="usePolicyInPortMap" disabled><label for="usePolicyInPortMap">&nbsp;&nbsp;Use access policy?</label>
                        <div class="form-group">
                            <select id="portmapPolicy" class="form-control" disabled>
                            </select>
                        </div>
                    </div>
                </div>
                <div class='form-group'>
                    <label>Guest Device</label>
                    <select id="portMappingNodesTo" class="form-control portMappingNodes" required>
                    </select>
                </div>
                <input type="button" class="btn btn-danger" id="addPortMappingCancelBtn" value="Cancel"/>
                <input type="button" class="btn btn-primary pull-right" id="addPortMappingBtn" value="Save"/>
            </form>
        </div>
    </div>
    <div class="table-responsive portMappingListTbl">
        <table class="table table-striped table-hover table-condensed table-responsive" id="portMappingListTbl" style="width: 100%">
            <thead>
            <!--<th class="col-sm-1">#</th>-->
            <th class="col-sm-1">Host Device</th>
            <th class="col-sm-1">Owner</th>
            <th class="col-sm-1">Host</th>
            <th class="col-sm-1">Service Name / Port</th>
            <th class="col-sm-1">Protocol</th>
            <th class="col-sm-1">Policy</th>
            <th class="col-sm-1">Guest Device</th>
            <th class="col-sm-1">Owner</th>
            <th class="col-sm-1">Mapped Port</th>
            <th class="col-sm-2">Opened at</th>
            <th class="col-sm-1">Actions</th>
            </thead>
        </table>
    </div>
</div>